
    <header class="navbar">
        <a href="#" class="navbar-brand">Cafetería Cielo Negro</a>
        <div class="navbar-nav">
            <a routerLink="/orden" class="navbar-link">Realizar una orden</a>
            <a routerLink="/pedidos" class="navbar-link">Ver pedidos</a>
        </div>
        <p>¡Día de promociones!</p>

    </header>
    

    
<main>
    <div class="image-container">
        <img src="assets/images/coffeeLove.png" alt="Amor por el café" class="coffee-love-image">
    </div>
    
    <div class="stepper">
        <div class="step-indicator current" data-step="1" (click)="jumpToStep(1)">
            <span>1</span>
            <p>Llene sus datos</p>
        </div>
        <div class="step-indicator" data-step="2" (click)="jumpToStep(2)">
            <span>2</span>
            <p>Escoja su café</p>
        </div>
        <div class="step-indicator" data-step="3" (click)="jumpToStep(3)">
            <span>3</span>
            <p>Confirmar</p>
        </div>
    </div>
    

    <div class="step" id="step1">      
        <h2>Paso 1: Llene sus datos personales</h2>
        <label for="name">Nombre:</label>
        <input type="text" id="name" required>
        
        <label for="email">Email (Opcional):</label>
        <input type="email" id="email">
        
        <label for="phone">Teléfono (Opcional):</label>
        <input type="tel" id="phone">
        
        <button type="button" (click)="nextStep(2)">Continuar</button>
    </div>
    

    <div class="step" id="step2" style="display: none;">
        <h2>Paso 2: Escoja su café</h2>
    
        <div class="coffee-selection">
            <div class="coffee-option" data-coffee="smallCoffee">
                <img src="assets/images/smallCoffee.jpg" alt="Café Chico">
                <p>Café Chico - $20</p>
                <button (click)="addCoffee('Café Chico', 20)">Agregar Café</button>
            </div>
    
            <div class="coffee-option" data-coffee="mediumCoffee">
                <img src="assets/images/mediumCoffee.jpg" alt="Café Mediano">
                <p>Café Mediano - $30</p>
                <p>Se regalan 3 galletas</p>
                <button (click)="addCoffee('Café Mediano', 30)">Agregar Café</button>
            </div>
    
            <div class="coffee-option" data-coffee="largeCoffee">
                <img src="assets/images/largeCoffee.jpg" alt="Café Grande">
                <p>Café Grande - $40</p>
                <p>Se regalan 6 galletas</p>
                <button (click)="addCoffee('Café Grande', 40)">Agregar Café</button>
            </div>

            <div class="coffee-option" data-coffee="jumboCoffee">
                <img src="assets/images/jumboCoffee.jpg" alt="Café Jumbo">
                <p>Café Jumbo - $50</p>
                <p>Se regalan 1 paquete de galletas</p>
                <button (click)="addCoffee('Café Jumbo', 50)">Agregar Café</button>
            </div>
    
        </div>
    
        <h3>Resumen de pedido:</h3>
        <ul id="coffeeSummary">
            <!-- Cafés agregados -->
        </ul>
    
        <button type="button" (click)="nextStep(3)">Continuar</button>
    </div>
    

    <div class="step" id="step3" style="display: none;">
        <h2>Paso 3: Confirmar</h2>
        <div id="ticketSummary">
            <!-- Resumen del pedido -->
        </div>
        <button type="button" (click)="processOrder()" >Realizar Pedido</button>
    </div>
</main>
